<launch>

    <param name="use_sim_time" value="true"/>

    <arg name="need_map" default="true" /> 
    <arg name="rviz" default="true" /> 
    <arg name="map" default="teatro_wall" />
    <arg name="bag_file" default="$(env HOME)/Documents/Bags/teatro/last_day/casi_2023-03-06-10-21-26_edited.bag" />

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="timed_check_mission_markers" output="screen"
            args="5 marsupial_mission_interface check_mission_markers.launch" >
    </node>

    //To show MAP from DLL and not affect TFs
    <include file="$(find marsupial_launchers)/arco_launch/dll_arco.launch" if="$(arg need_map)">
        <arg name="map_path" value="$(env HOME)/marsupial_ws/src/marsupial_optimizer/maps/$(arg map).bt"/>    
    </include>

    <node name="bag_player_tongo" pkg="rosbag" type="play" args="$(arg bag_file) --clock" if="$(arg need_map)">
        <remap from="/tf" to="/tf_tongo"/>
        <remap from="/tf_static" to="/tf_static_tongo"/>
        <remap from="/arco_os1_cloud_node/points_non_dense" to="/arco_os1_cloud_node/points_non_dense_tongo"/>
    </node>

    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find marsupial_mission_interface)/viz/check_mission.rviz" if="$(arg rviz)"/>

</launch>